*{
  box-sizing: border-box;
}

body{
  margin:0;
  background-color: rgb(235,235,235);

}
.header{
        max-width: 50%;
        height: 150px;
        position: relative;
        margin:auto;
        background-color: rgb(14,180,124);
}


@media only screen and (max-width:800px) {
  .header {
    max-width: 100%;
  }
}

.title{
  display: flex;
}

.fullname{
  height: 0px;
  margin-right: auto;
}

.jobtitle{
  height: 0px;
}

img {
  max-height:75%;
  border-radius: 50%;
  border: 7px solid rgb(235,235,235);
  z-index: 9;
  position: relative;
  left: 5%;
  top:50px;
 }

 .summary{
  display: flex;
  z-index: 8;
  position: relative;
  top:-90px;
width: 500px;
left: 275px;
 }

 h2{
text-align: center;
margin-top: 80px;
}

.skills{
  background-color: white;
    max-width: 50%;
        height: 150px;
      
        margin:auto;
  
}




