*{
  box-sizing: border-box;
}

body{
  margin:0;
  background-color: rgb(235,235,235);

}

.header{
        max-width: 50%;
        height: 150px;
        position: relative;
        margin:auto;
        background-color: rgb(14,180,124);
}

.title{
  display: flex;
}

.fullname{
  margin-right: auto;
}

img {
  max-height:75%;
  border-radius: 50%;
  border: 7px solid rgb(235,235,235);
  z-index: 9;
  position: relative;
  left: 5%;
  top:50px;
 }

.summary{
  position: relative;
  top:   -35%;
  left:   42%;
  margin: 0;
  height: 25%;
  width:  60%;
  overflow:hidden;
 }

h2{
  text-align: center;
  margin-top: 80px;
  color:rgb(14,180,124); 
}

.skills{
  background-color: white;
  max-width: 50%;
  height: 150px;
  margin:auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}


button {
  text-transform: capitalize;
  font-size: 13px;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin-right: 5px;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 2px;
  -webkit-transition: background-color .1s ease, color .2s ease;
  transition: background-color .1s ease, color .2s ease;
    display: flex;
 flex-direction: column;
 justify-content: center;
 width: 200px;
}

button:last-of-type {
  margin-right: 0;
}

button.active {
  font-weight: 400;
  background-color: #0074d9;
  color: white;
}

svg{
  top:25px;
  position: relative;
}


circle {
  fill: #ddd;
  stroke: #0074d9;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  -webkit-transition: stroke-dasharray .3s ease;
  transition: stroke-dasharray .3s ease;
}
  

.desc{
   margin-top: 0px;
   width: 200px;
}



  button{
    width: 80px;
  }

@media only screen and (max-width:800px) {
  .header, .skills {
    max-width: 100%;
  }

  .summary{
    width: 500px;
    left: 0px;
  }
}







/*OLD

.buttons {
display: flex;
flex-direction: column;
flex-wrap: wrap;

padding: 0px;
margin: 0px;
width: 15px;
}


/*button{
font-size: 13px;
  cursor: pointer;
  padding: 0px 0px;
margin-right: auto;}*/

/*button {

 /* font-size: 13px;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin-right: 0px;
  background-color: transparent;
  padding: 5px 5px;
  outline: none;
  border-radius: 2px;
  border-width: 2px;
  -webkit-transition: background-color .1s ease, color .2s ease;
  transition: background-color .1s ease, color .2s ease;
  margin-right: 0;*/
/*/
/*button:last-of-type {
  
}*/
/*button.active {
  font-weight: 400;
  background-color: #0074d9;
  color: white;
}*/



circle {
  fill: #ddd;
  stroke: rgb(14,180,124);
  stroke-width: 50;
  stroke-dasharray: 0 158;
/*-webkit-transition: stroke-dasharray 2s;*/
  transition: stroke-dasharray 2s;*/
}
/*ease*/
svg {
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  display: block;
}

figure{
   margin:auto;
}